.about-conatiner {
  padding: 50px; }

.about-goals-skills {
  display: flex;
  flex-wrap: wrap; }

.whatIdo {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 720px) {
    .whatIdo {
      flex-direction: row; } }

.skills-development,
.skills-design {
  width: 100%;
  text-align: center;
  padding: 10px; }
  @media (min-width: 720px) {
    .skills-development,
    .skills-design {
      width: 50%;
      padding: 0 75px; } }

.about-info {
  position: relative;
  width: 100%; }
  .about-info h4 {
    border-left: 1px solid #242930;
    padding: 5px; }
    .about-info h4::first-letter {
      color: #ff4162;
      font-size: 1.5em; }
  @media (min-width: 720px) {
    .about-info {
      width: 75%; } }

.skills {
  width: 100%;
  display: none; }
  @media (min-width: 720px) {
    .skills {
      display: flex; } }

#myChart {
  position: absolute;
  top: 1065px;
  right: 100px;
  float: right;
  max-width: 30%; }

.contact-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 100%; }
  @media (min-width: 720px) {
    .contact-container {
      flex-direction: row; } }

.contact-info {
  margin-bottom: 75px; }
  @media (min-width: 720px) {
    .contact-info {
      width: 48%; } }

.contact-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px; }
  .contact-item p {
    max-width: 100%;
    margin: 0 25px; }
  @media (min-width: 720px) {
    .contact-item {
      margin-right: 30px; } }

.contact-icon {
  margin: 0 10px; }

.contact-form {
  width: 75%;
  display: flex;
  flex-direction: column; }
  .contact-form h4 {
    font-size: 2em; }
    .contact-form h4::first-letter {
      color: #ff4162;
      border-left: 1px #242930 solid;
      padding-left: 5px; }
  @media (min-width: 720px) {
    .contact-form {
      width: 50%;
      border-left: 1px solid black;
      padding-left: 50px; } }

.form-input {
  margin-right: 50px;
  margin-bottom: 25px;
  width: 100%; }

input {
  border: 1px lightgrey solid;
  background-color: whitesmoke;
  width: 100%; }

textarea {
  border: 1px lightgrey solid;
  background-color: whitesmoke;
  width: 100%;
  height: 100px; }

h6 {
  font-size: 1em;
  margin: 0; }

.contact-phone-number,
.contact-Address,
.contact-email {
  display: flex;
  justify-content: space-between;
  margin-left: 5px; }

.contact-icon {
  transition: 0.5s cubic-bezier(0, 1.1, 0.99, 1.61); }

.contact-phone:hover {
  transform: rotate(50deg) scale(1.2); }

.contact-house:hover {
  transform: scale(1.5); }

.contact-mail:hover {
  transform: scale(1.3); }

.contact-submit-button {
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  background-color: #ff4162;
  color: white;
  font-size: 16px;
  margin: 25px;
  transition: .5s;
  width: 75%; }

.contact-submit-button:hover {
  background-color: white;
  color: #242930;
  box-shadow: 0 0 0 1px black;
  cursor: pointer; }

.contact-phone-number {
  margin-right: 50px; }

.mainFooter {
  background-color: #242930;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .mainFooter img {
    max-width: 75px;
    margin: auto;
    padding-top: 10px; }
  .mainFooter p {
    margin: auto;
    padding: 5px;
    color: white; }

.footer-nav {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 10px; }
  .footer-nav li {
    margin: 15px; }

.icon-madeby {
  align-self: center;
  font-size: .8em; }

.sticky-wrapper {
  color: whitesmoke; }

.is-sticky {
  z-index: 1000000000;
  color: #242930;
  transition: 5s ease-out; }
  .is-sticky a {
    transition: 5s ease-out;
    color: #242930; }
  .is-sticky a:hover {
    color: #ff4162;
    transition: .5s ease-out; }

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1000; }
  .main-nav h2 {
    margin-left: 10%;
    font-size: 1em; }
    @media (min-width: 720px) {
      .main-nav h2 {
        font-size: 25px; } }

.pinkText {
  color: #ff4162; }

.nav {
  display: none;
  list-style: none;
  margin-right: 50px; }
  .nav li {
    margin: 5px; }
  @media (min-width: 720px) {
    .nav {
      display: flex; } }

.introPiece {
  max-width: 100%;
  background-color: #242930;
  background-image: url("../images/background-background-image-clouds-1054289.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  height: 1000px;
  color: whitesmoke; }
  .introPiece img {
    max-width: 100px; }
  @media (min-width: 720px) {
    .introPiece {
      padding-top: 150px; } }

.intro-title {
  font-size: 2.2em; }

.intro-span {
  color: #ff4162;
  font-size: 5em;
  font-family: 'Pacifico', cursive; }

.intro-p {
  font-size: 1.2em;
  max-width: 100%; }

.intro-button {
  display: block;
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  background-color: #ff4162;
  color: white;
  font-size: 16px;
  margin: 25px;
  transition: background-color .5s, color .5s; }
  @media (min-width: 720px) {
    .intro-button {
      display: inline;
      max-width: 34%; } }

.intro-button:hover {
  background-color: white;
  color: #242930; }

.portfolio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px; }
  .portfolio-container h4 {
    width: 100%;
    border-left: 1px solid #242930;
    padding: 5px; }
    .portfolio-container h4::first-letter {
      color: #ff4162;
      font-size: 1.5em; }
  .portfolio-container img {
    margin-top: 15px;
    max-width: 100%; }
  @media (min-width: 720px) {
    .portfolio-container {
      flex-direction: row; } }

.project {
  max-width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden; }
  @media (min-width: 720px) {
    .project {
      max-width: 33%; } }

.project-information {
  display: flex;
  position: absolute;
  top: 30px;
  left: 5px;
  width: 100%;
  height: 100px;
  background-color: #242930;
  padding: 15px;
  color: whitesmoke;
  opacity: 1;
  transition: .7s ease-out;
  font-size: 2em; }
  @media (min-width: 720px) {
    .project-information {
      font-size: 1em;
      top: 450px;
      left: 0px;
      height: 30%;
      justify-content: space-between;
      width: 100%;
      padding: 15px; } }

.small-hidden {
  display: none; }
  @media (min-width: 720px) {
    .small-hidden {
      display: flex;
      flex-direction: column; } }

.project-information:hover {
  opacity: 1; }
  @media (min-width: 720px) {
    .project-information:hover {
      transform: translatey(100px); } }

.link {
  display: flex;
  justify-content: flex-end; }
  .link p {
    font-size: .6em;
    margin: auto; }
    @media (min-width: 720px) {
      .link p {
        font-size: 1em; } }
  .link img {
    position: relative;
    bottom: 10px; }

.link:hover {
  cursor: pointer; }

.project-image {
  transition: .5s ease-in-out; }

/*******************************************************************************

Project page styles

*******************************************************************************/
.projectPage-main-container {
  margin: 0;
  padding: 0; }
  .projectPage-main-container h1 {
    text-align: center; }

.projectPage-main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  color: #242930; }
  .projectPage-main-nav a {
    color: #242930;
    text-decoration: none;
    transition: color .3s; }
  .projectPage-main-nav a:hover {
    color: #ff4162; }
  .projectPage-main-nav h2 {
    margin-left: 10%;
    font-size: 1em; }
    @media (min-width: 720px) {
      .projectPage-main-nav h2 {
        font-size: 25px; } }

.projectPage-big-image {
  max-width: 99%;
  box-shadow: 1px 0px 11px #242930;
  margin: 3px; }

.projectPage-small-image {
  max-width: 30%; }

.projectPage-images-container {
  max-width: 50%; }

.projectPage-flexContainer {
  display: flex;
  margin: 25px; }

.projectPage-description {
  max-width: 50%;
  padding: 10px; }

.projectPage-link {
  font-size: 1.5em;
  color: whitesmoke;
  background-color: #ff4162;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  transition: .5s ease-out; }

.projectPage-link:hover {
  background-color: whitesmoke;
  color: #242930;
  border: 1px #242930 solid; }

#projectPage-myChart1,
#projectPage-myChart2,
#projectPage-myChart3,
#projectPage-myChart4,
#projectPage-myChart5 {
  max-width: 250px;
  margin-bottom: 25px; }

.pricing-container {
  display: flex;
  text-align: center; }
  @media (min-width: 720px) {
    .pricing-container {
      padding: 50px; } }

.Pricing-box-container {
  width: 100%;
  margin: 10px;
  padding: 35px;
  border: 1px solid #242930; }
  .Pricing-box-container ul {
    text-align: left;
    margin-bottom: 50px; }
  .Pricing-box-container h3 {
    font-size: 2.5em;
    margin: 0;
    display: inline; }
  @media (min-width: 720px) {
    .Pricing-box-container {
      width: 31.5%; } }

.pricing-button {
  padding: 10px 25px;
  border-radius: 2px;
  background-color: #ff4162;
  color: white;
  font-size: 16px;
  transition: .5s; }

.pricing-button:hover {
  background-color: white;
  color: #242930;
  border: 1px solid #242930; }

.services-container {
  padding: 10px; }
  @media (min-width: 720px) {
    .services-container {
      padding: 50px; } }
  .services-container h4 {
    border-left: 1px solid #242930;
    padding: 5px; }
    .services-container h4::first-letter {
      color: #ff4162;
      font-size: 1.5em; }

.myServices {
  max-width: 100%;
  margin-bottom: 50px; }
  @media (min-width: 720px) {
    .myServices {
      max-width: 48%; } }

.services-flex {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  margin: 15px;
  padding: 15px;
  transition: background-color .5s, color .5s; }
  @media (min-width: 720px) {
    .services-flex {
      width: 30%; } }

.services-flex:hover {
  background-color: #242930;
  color: white;
  cursor: pointer; }

@media (min-width: 720px) {
  .right {
    margin-top: 45px;
    margin-left: 25px; } }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif; }

a {
  text-decoration: none; }

a:hover {
  color: #ff4162; }

.styledLink {
  text-decoration: none;
  transition: color .3s;
  color: whitesmoke; }
  .styledLink:hover {
    color: #ff4162; }

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto; }

.container {
  max-width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap; }

.breakImage {
  display: none; }
  .breakImage img {
    width: 100%;
    opacity: .5; }
  @media (min-width: 720px) {
    .breakImage {
      display: block; } }

.break-quote {
  position: absolute;
  z-index: 100;
  max-width: 75%;
  top: 3300px;
  left: 220px;
  font-size: 2em;
  color: #242930; }
  .break-quote p, .break-quote span {
    display: none;
    text-shadow: 0px .5px  whitesmoke;
    text-indent: 1em; }
    @media (min-width: 720px) {
      .break-quote p, .break-quote span {
        display: inline-block; } }

.indent {
  text-indent: 2em; }

/*# sourceMappingURL=styles.css.map */
