@import "utilities/index";
@import "base/index";

*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  color: $off-pink;
}
.styledLink{
    text-decoration: none;
    transition: color .3s;
    color: whitesmoke;
  &:hover{
    color: $off-pink;
  }
}
.main-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container{
  max-width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.breakImage{
  display: none;
  img {
    width: 100%;
    opacity: .5;
  }
  @media(min-width: 720px){
    display:block;
  }
}
.break-quote{
  position: absolute;
  z-index: 100;
  max-width: 75%;
  top: 3375px;
  left: 220px;
  font-size: 2em;
  color: $shark;
  p, span{
    display: none;
    text-shadow: 0px .5px  whitesmoke;
    text-indent: 1em;
    @media(min-width:720px){
      display:inline-block;
    }
  }
  @media(min-width: 1024px){
    top:3300px;
  }
  @media(min-width: 1440px){
    top:3375px;
  }
}
.indent{
  text-indent: 2em;
}
