@import "utilities/index";
@import "base/index";

*{
  box-sizing: border-box;
}
html{
}
body{
  margin:0 0;
  padding:0;
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif;
}
a{
  text-decoration: none;
  color: whitesmoke;
  transition: color .3s, font-size .5s;
}
a:hover{
  color: $off-pink;
}
.main-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container{
  max-width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.breakImage{
  img {width: 100%;
  opacity: .5;
  }
}
.break-quote{
  position: absolute;
  z-index: 100;
  max-width: 75%;
  top: 3300px;
  left: 220px;
  font-size: 2em;
  color: $shark;
  p, span{
    text-shadow: 0px .5px  whitesmoke;
    text-indent: 1em;
  }
}
.indent{
  text-indent: 2em;
}
