.about-conatiner{
  padding: 50px;
}
.about-goals-skills{
  display:flex;
  flex-wrap: wrap;
}
.whatIdo{
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skills-development,
.skills-design{
  width:100%;
  text-align: center;
  padding:  10px;

}
.about-info{
  position: relative;
  width:100%;
  h4{
    border-left: 1px solid $shark;
    padding: 5px;

    &::first-letter{
      color: $off-pink;
      font-size: 1.5em;
    }
  }
}

.skills{
  width: 100%;
  display: none;
}
#myChart{
  position: absolute;
  top: 1065px;
  right: 100px;
  float:right;
  max-width: 30%;
}
