.mainFooter{
  background-color:$shark;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img{
    max-width: 50px;
    margin:auto;
    padding-top: 10px;
  }
  p{
    margin:auto;
    padding: 5px;
    color: white;
  }
}
.footer-nav{
  list-style: none;
  display: flex;
  margin: auto;
  padding: 10px;

  li {
    margin: 15px;
  }
}
.icon-madeby{
  align-self: center;
  font-size: .8em;
}
