.sticky-wrapper{
  color:whitesmoke;
}
.is-sticky{
  z-index: 1000000000;
  color: $shark;
  transition: 5s ease-out;

  a{
    transition: 5s ease-out;
    color: $shark;
  }
  a:hover{
    color:$off-pink;
    transition: .5s ease-out;
  }
}
.main-nav{
  display:flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1000;
  h2{
    margin-left: 10%;
    font-size: 1em;
    @media(min-width:720px){
      font-size:25px;
    }
  }
}

.pinkText{
  color: $off-pink;
}
.nav{
  display: none; //inline-block
  list-style: none;
  margin-right: 50px;
  li{
    margin: 5px;
  }
  @media(min-width:720px){
    display:flex;
  }
}


.introPiece{
  max-width: 100%;
  background-color: $shark;
  background-image: url("../images/abstract-blur.jpg");
  background-position:center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  // padding-top: 175px;
  height: 1000px;
  color: whitesmoke;

  img{
    max-width: 100px;
    }
    @media(min-width: 720px){
      padding-top: 175px;
    }
}

.intro-title{
  font-size:2.2em;
}

.intro-span{
  font-size: 4em;
}

.intro-p{
  font-size: 1.2em;
  max-width: 100%;
}

.intro-button{
  display: block;
  border: none;
  padding:10px 25px;
  border-radius: 2px;
  background-color: $off-pink;
  color: white;
  font-size: 16px;
  margin: 25px;
  transition: background-color .5s, color .5s;
  @media(min-width: 720px){
    display: inline;
    max-width: 34%;
  }
}
.intro-button:hover{
  background-color: white;
  color: $shark;
}
