.portfolio-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  h4{
    width: 100%;
    border-left: 1px solid $shark;
    padding: 5px;

      &::first-letter{
        color: $off-pink;
        font-size: 1.5em;
        }
    }
  img{
    margin-top: 15px;
    max-width: 100%;
  }
}
.project{
  max-width: 100%;
  margin:auto;
  position: relative;
  overflow: hidden;
}
.project-information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  left: 5px;
  width: 325px;
  height: 300px;
  background-color: rgba(36, 41, 48, .6);
  padding: 15px;
  color: whitesmoke;
  opacity: 0;
  transition: .7s ease-out;
  font-size: 2em;
}
.small-hidden{
  display: none;
}
.project-information:hover{
  opacity: 1;
}
.link{
  display: flex;
  justify-content:flex-end;
  p{
    font-size: .6em;
    margin: auto;
  }
  img{
    position: relative;
    bottom: 10px;
  }
}
.link:hover{
  cursor:pointer;
}
