.portfolio-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  h4{
    width: 100%;
    border-left: 1px solid $shark;
    padding: 5px;

      &::first-letter{
        color: $off-pink;
        font-size: 1.5em;
        }
    }
  img{
    margin-top: 15px;
    max-width: 100%;
  }
  @media(min-width: 720px){
    flex-direction: row;
  }
}
.project{
  max-width: 100%;
  margin:auto;
  position: relative;
  overflow: hidden;
  @media(min-width: 720px){
    max-width: 33%;
  }
}
.project-information{
  display: flex;
  // flex-direction: column;
  position: absolute;
  top: 357px;
  left: 5px;
  width: 100%;
  height: 100px;
  background-color: $shark;
  padding: 15px;
  color: whitesmoke;
  opacity: 1;
  transition: .7s ease-out;
  font-size: 1.5em;
    @media(min-width: 720px){
      font-size: .65em;
      top: 245px;
      left: 0px;
      height: 30%;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
  }
  @media(min-width: 1024px){
    font-size: 1em;
    top:320px;
  }
  @media(min-width: 1280px){
    top:400px;
  }
  @media(min-width: 1366px){
    top:425px;
  }
  @media(min-width: 1440px){
    top:450px;
  }
}
.small-hidden{
  display: none;
  @media(min-width: 720px){
    display: flex;
    flex-direction: column;
  }
}
.project-information:hover{
  transform: translateY(200px);
  opacity: 1;
  @media(min-width: 720px){
    transform:translatey(100px);
  }
}
.link{
  display: flex;
  justify-content:flex-end;
  p{
    font-size: .6em;
    margin: auto;
    @media(min-width: 720px){
      font-size: 1em;
    }
  }
  img{
    position: relative;
    bottom: 10px;
  }
}
.link:hover{
  cursor:pointer;
}
.project-image{
  transition: .5s ease-in-out;
}
/*******************************************************************************

Project page styles

*******************************************************************************/

.projectPage-main-container{
  margin:0;
  padding:0;

  h1{
    text-align: center;
  }
}
.projectPage-main-nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    // position: absolute;
    z-index: 1000;
    color:$shark;
    a{
      color: $shark;
      text-decoration: none;
      transition: color .3s;
    }
    a:hover{
      color: $off-pink;
    }
    h2{
      margin-left: 10%;
      font-size: 1em;
      @media(min-width:720px){
        font-size:25px;
      }
    }
}
.projectPage-big-image{
  max-width: 100%;
  box-shadow: 1px 0px 11px $shark;
  // margin: 3px;
  // text-align: center;
}
.projectPage-small-image{
  max-width: 30%;
}
.projectPage-images-container{
  max-width: 50%;
}
.projectPage-flexContainer{
  display: flex;
  margin: 25px;
}
.projectPage-description{
  max-width: 50%;
  padding: 10px;
}
.projectPage-link{
  font-size: 1.5em;
  color: whitesmoke;
  background-color: $off-pink;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  transition: .5s ease-out;
}
.projectPage-link:hover{
  background-color: whitesmoke;
  color:$shark;
  border: 1px $shark solid;
}
#projectPage-myChart1,
#projectPage-myChart2,
#projectPage-myChart3,
#projectPage-myChart4,
#projectPage-myChart5{
  max-width: 250px;
  margin-bottom: 25px;
}
