.pricing-container{
  display: flex;
  text-align: center;
  // padding: 50px;
}
.Pricing-box-container{
  width: 100%;//31.5
  margin: 10px;
  padding: 35px;
  border: 1px solid $shark;

  ul{
    // list-style: none;
    text-align: left;
    margin-bottom: 50px;
  }
  h3{
    font-size: 2.5em;
    margin:0;
    display:inline;
  }
}
.pricing-button{
  border: none;
  padding:10px 25px;
  border-radius: 2px;
  background-color: $off-pink;
  color: white;
  font-size: 16px;
  transition: .5s;

  }
  .pricing-button:hover{
    background-color: white;
    color: $shark;
    border: 1px solid $shark;
  }
