.services-container{
  padding: 50px;


    h4{
      border-left: 1px solid $shark;
      padding: 5px;

      &::first-letter{
        color: $off-pink;
        font-size: 1.5em;
      }
    }
  }
.myServices{
  max-width: 48%;
  margin-bottom: 50px;
}
.services-flex{
    width: 30%;
    text-align: center;
    background-color: whitesmoke;
    margin: 15px;
    padding: 15px;
    transition: background-color .5s, color .5s;
}
.services-flex:hover{
  background-color: $shark;
  color: white;
  cursor: pointer;
}
.right{
  margin-top: 45px;
  margin-left: 25px;
}
