*{
  box-sizing: border-box;
}

body{
  // margin:25px 270px;
  margin: 0;
  padding:0;
  // text-align: center;
  font-family: Raleway, sans-serif;

  @media(min-width: 768px){
     margin:25px 270px;
  }
}
p{
  margin:25px;
}

.currentText{
  color: orange;
}
